<header>

    <div class="header1">
        <nav>
            <a href="#">Colofon</a>
            <a href="#">Over</a>
            <a href="#">Meedoen</a>
            <a href="#">Contact</a>
        </nav>
    </div> 

    <div class="header2">
        <button class="menu-button" role="button">
            <img class="menu-icon" src="/assets/icons/menu-svgrepo-com.svg" alt="Menu button">
            <img class="close-icon" src="/assets/icons/icons8-close.svg" alt="Close button">
        </button>

        <div class="date-and-tagline">
            <p class="date"><%= new Date().toLocaleDateString("nl-NL", {weekday: "long", month: "long", day: "numeric", year: "numeric"}) %></p>
            <p>Podium voor de Journalistiek</p>
        </div>

        <a href="/">
            <picture>
                <source width="160" height="38.4" srcset="/assets/logos/RedPers_Logo_Cmyk_Black.avif" type="image/avif">
                <source width="160" height="38.4" srcset="/assets/logos/RedPers_Logo_Cmyk_Black.webp" type="image/webp">
                <img width="160" height="38.4" class="logo" src="/assets/logos/RedPers_Logo_Cmyk_Black.png" alt="Red Pers logo">
            </picture>
        </a> 

        <div class="newsletter-search">
            <a class="newsletter">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M129.23-566.923q0-76.923 30.654-143.116 30.654-66.192 83.347-114.269l27 29.385q-46.923 42.461-73.962 101-27.038 58.538-27.038 127H129.23Zm661.539 0q0-68.462-27.038-127.385-27.039-58.923-73.962-101.384l27-28.616q52.693 48.077 83.347 114.269 30.654 66.193 30.654 143.116h-40.001ZM200-209.231v-40h64.615v-316.923q0-78.384 49.616-137.884Q363.846-763.539 440-778.154V-800q0-16.539 11.731-28.269Q463.461-840 480-840q16.539 0 28.269 11.731Q520-816.539 520-800v21.846q76.154 14.615 125.769 74.116 49.616 59.5 49.616 137.884v316.923H760v40H200Zm280-286.154Zm0 390.77q-26.846 0-45.731-18.885-18.884-18.885-18.884-45.731h129.23q0 26.846-18.884 45.731-18.885 18.885-45.731 18.885ZM304.615-249.231h350.77v-316.923q0-72.923-51.231-124.154-51.231-51.23-124.154-51.23t-124.154 51.23q-51.231 51.231-51.231 124.154v316.923Z"></path></svg>
                Nieuwsbrief
            </a>
            
            <form class="search-form" action="/search">
                <input class="search-input hidden" name="q">
                <button type="submit" class="search-button">
                <a>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M779.385-153.846 528.923-404.307q-30 25.538-69 39.538-39 14-78.385 14-96.1 0-162.665-66.529-66.566-66.529-66.566-162.577t66.529-162.702q66.529-66.654 162.577-66.654 96.049 0 162.702 66.565Q610.769-676.101 610.769-580q0 41.692-14.769 80.692-14.769 39-38.769 66.693l250.462 250.461-28.308 28.308ZM381.538-390.769q79.616 0 134.423-54.808Q570.769-500.385 570.769-580q0-79.615-54.808-134.423-54.807-54.808-134.423-54.808-79.615 0-134.423 54.808Q192.308-659.615 192.308-580q0 79.615 54.807 134.423 54.808 54.808 134.423 54.808Z"></path></svg><span class="search-text">Zoeken</span>
                </a>
                </button>
            </form>
        </div>
    </div>


    <div class="header3">
        <nav class="categories-nav closed">
            <div class="categories">
                <a href="/">Voorpagina</a>
                <%
                categoriesData.forEach((category) => {%>
                    <a href="/categorie/<%= category.slug %>"><%= category.name %></a>
                <%});%>
                <form class="search-form" action="/search">
                <input class="search-input hidden" name="q">
                <button type="submit" class="search-button">
                <a>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M779.385-153.846 528.923-404.307q-30 25.538-69 39.538-39 14-78.385 14-96.1 0-162.665-66.529-66.566-66.529-66.566-162.577t66.529-162.702q66.529-66.654 162.577-66.654 96.049 0 162.702 66.565Q610.769-676.101 610.769-580q0 41.692-14.769 80.692-14.769 39-38.769 66.693l250.462 250.461-28.308 28.308ZM381.538-390.769q79.616 0 134.423-54.808Q570.769-500.385 570.769-580q0-79.615-54.808-134.423-54.807-54.808-134.423-54.808-79.615 0-134.423 54.808Q192.308-659.615 192.308-580q0 79.615 54.807 134.423 54.808 54.808 134.423 54.808Z"></path></svg>
                </a>
                </button>
            </form>
            </div>
        </nav>
    </div>
</header>