.article-featured-image {
  height: 400px;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

.article-featured-image-container {
  padding: 20px 0;
}

.article-page {
  text-align: center;
  max-width: 800px;
  margin: 1rem;
  color: var(--text-color);
}

.article-title-container {
  padding: 20px 0;
}

.article-title {
  font-family: var(--font-main);
  font-size: 38px;
  font-weight: 900;
  text-align: left;
}

.article-excerpt {
  text-align: left;
  font-family: var(--font-alt);
  font-size: 24px;
  line-height: var(--line-heigth);
}

.article-content {
  font-family: var(--font-main);
  font-size: 20px;
  text-align: left;
  line-height: var(--line-heigth);
}

.article-content p {
  margin-bottom: 20px;
  max-width: var(--line-length);
}

.article-content a {
  display: inline;
}

.article-content h4 {
  font-size: 18px;
}

.article-category-date-container {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.article-category-date-like-container {
  display: flex;
  justify-content: space-between;
}

.article-category {
  font-family: var(--font-alt);
  color: var(--accent-color1);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
}

.article-post-date {
  font-family: var(--font-alt);
  text-transform: uppercase;
  font-size: 13px;
}

.article-author-reading-time-container {
  position: relative;
  padding: 30px 0;
  font-family: var(--font-alt);
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  line-height: var(--line-heigth);
}

/* #region Popup */
.article-author {
  display: flex;
}

.article-author a {
  margin-left: .3rem;
  margin-right: 1rem;
}

.article-author .author-popup{
  visibility: hidden;
  position: absolute;
  z-index: 1;
  background-color: var(--accent-color2);
  width: 50vw;
  min-width: 200px;
  max-width: 500px;
  bottom: 100%;
  left: 0;
}
.article-author .author-popup picture{
  display: block;
  width: fit-content;
  min-width: 100px;
  margin: var(--margin-center);
  padding: 1rem;
}

.article-author .author-popup picture img{
  width: 100%;
  height: fit-content;
}

.article-author .author-popup section{
  padding: 1rem;
}

.article-author .author-popup section h3{
  font-family: var(--font-alt);
  text-transform: none;
}

.article-author .author-popup p{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  border: none;
  font-size: var(--font-size-small);
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: .5rem;
  text-transform: none;
}

.meer-info {
  position: absolute;
  left: -9999em;
}

fieldset {
  height: 18px;
  border: none;
}

fieldset:has(:focus-visible) {
  outline: solid .2em var(--border-fieldset-focus);
}

.popup-label {
  cursor: pointer;
}

.popup-label svg {
  fill: var(--accent-color1);
}

.meer-info:checked ~ .author-popup {
  visibility: visible;
  animation: popup .3s;
}

.meer-info:checked ~ .popup-label svg {
  background-color: var(--accent-color1);
  fill: var(--background-color);
  border-radius: 20px;
}
/* #endregion Popup */

.article-content img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center center;
}

.article-content figcaption {
  font-size: 13px;
  font-style: italic;
  padding-bottom: 20px;
}

.article-content blockquote {
  font-family: var(--font-main);
  font-size: 38px;
  font-weight: 700;
  padding: 20px 0;
  
  &:before {
    content: "‘’";
    color: var(--accent-color1);
    display: block;
    font-size: 60px;
  }
}

/* #region Like */
#like {
  font-family: Inter;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  
  &:hover {
    opacity: 0.5;
  }
}

#like span svg {
  margin-right: 5px;
  vertical-align: -3px;
  fill: var(--text-color);
}

#like-count.success {
  color: var(--accent-color1);
  font-weight: 700;
}

#like-count.loading {
  color: transparent;
}

#like-icon.success {
  fill: var(--accent-color1);
}

.loading {
  width: 16px;
  height: 16px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid var(--accent-color1);
  display: inline-block;
  vertical-align: -5px;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
/* #endregion Like */

/* #region Keyframes */
/* LIKE */
@keyframes l20-1{
  0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
  12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
  25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
  50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
  62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
  75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
  100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}

@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}

/* POPUP */
@keyframes popup{
  0% {
    opacity: 0;
    bottom: 10%;
  }
  100% {
    opacity: 1;
    bottom: 100%;
  }
}
/* #endregion Keyframes */

@media only screen and (min-width: 800px) {
  .article-page {
    margin: var(--margin-center);
  }

  .article-author .author-popup {
    display: flex;
  }

  .article-author .author-popup picture {
    width: 35%;
    margin: auto 0;
  }

  .article-author .author-popup section {
    width: 65%;
  }
}