main {
  margin: 0 3rem;
  width: fit-content;
}

/* #region About */
.about-author {
  display: grid;
}

.about-author img {
  width: 200px;
  height: 200px;
}

.about-author h1{
  font-family: var(--font-main);
  font-size: 38px;
}

.about-author .author-bio {
  font-family: var(--font-alt);
}
/* #endregion About */

/* #region Populair */
.populair {
  display: flex;
  flex-flow: row wrap;
}

.populair h2 {
  width: 100%;
}
/* #endregion Populair */

/* #region Cards */
.readmore-card {
  background-color: var(--color-light);
  margin: 1rem;
  border: var(--border);
  max-width: 300px;
}

.readmore-card img {
  width: var(--thumbnail-width);
  height: var(--thumbnail-height);
  object-fit: cover;
  object-position: center;
  border-bottom: var(--border);
}

.readmore-card h3 {
  font-family: var(--font-main);
  font-size: 24px;
  padding: 0 15px;
  height: var(--thumbnail-height);
}

.readmore-card p {
  font-family: var(--font-alt);
  color: var(--alt-text-color);
  padding: 0 15px;
}
/* #endregion Cards */