footer {
  padding-top: 100px;
  max-width: 1200px;
  margin: 0 auto
}

.footer-top-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-middle-part {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.footer-bottom-part {
  display: flex;
  justify-content: space-between;
  border-top: var(--border-light);
  padding-bottom: 30px;
}

.footer-logo-container {
  transition: 0.3s;
  
  &:hover {
    opacity: 0.5;
  }
}

.newsletter-form {
  display: flex;
}

.newsletter-form-button {
  background-color: var(--text-color);
  color: var(--article-background-color);
  padding: 10px 20px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  fill: var(--article-background-color);
  transition: 0.3s;
  border: var(--border);
  cursor: pointer;
  
  &:hover {
    background-color: var(--article-background-color);
    color: var(--text-color);
    fill: var(--text-color);
  }
}

.newsletter-form-input {
  width: 370px;
  padding: 0px 10px;
  margin-right: 20px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

.footer-item a {
  color: var(--text-color);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  transition: 0.3s;
  
  &:hover {
    color: var(--alt-text-color);
  }
}

li.footer-item {
  margin-bottom: 10px;
  list-style: none;
}

.footer-title {
  font-size: 13px;
  font-family: Inter;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 20px;
}

.footer-bottom-part-left,
.footer-bottom-part-right {
  padding-top: 20px;
}

.footer-bottom-part-left-text {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  color: var(--text-color);
}

.footer-bottom-part-right-items {
  display: flex;
}

.footer-bottom-part-right-item {
  margin-left: 20px;
  list-style: none;
}

.footer-bottom-part-right-item a {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  color: var(--text-color);
  transition: 0.3s;
  
  &:hover {
    color: var(--alt-text-color);
  }
}

@media screen and (min-width: 300px) and (max-width:900px) {
  .footer-top-part {
    flex-direction: column;
    gap: 30px;
  }

  .newsletter-form-input {
    font-size: 12px;
    width: 280px;
  }

  .newsletter-form-button {
    width: max-content;
  }

}

@media screen and (max-width:500px) {
  .footer-top-part {
    align-items: normal;
  }

  .newsletter-form {
    flex-direction: column;
    gap: 10px;
  }

  .newsletter-form-button {
    font-size: 13px;
    padding: 5px 10px;
  }

  .newsletter-button-icon {
    width: 13px;
    height: 13px;
  }

  .newsletter-form-input {
    padding: 10px;
    width: 100%;
  }

  .footer-middle-part {
    flex-direction: column;
    gap: 10px;
  }

  .footer-bottom-part {
    flex-direction: column;
  }
}