/* #region Fonts */
/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/inter-v13-latin-regular.woff2") format("woff2");
}
/* inter-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/inter-v13-latin-500.woff2") format("woff2");
}
/* inter-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/inter-v13-latin-700.woff2") format("woff2");
}

/* TiemposText */
@font-face {
  font-display: swap;
  font-family: "Tiempos";
  font-style: normal;
  font-weight: 400;
  src: url(/assets/TiemposText-Regular.ttf) format("ttf");
}

/* TiemposHeadline */
@font-face {
  font-display: swap;
  font-family: "Tiempos";
  font-style: normal;
  font-weight: 700;
  src: url(/assets/TiemposHeadline-Medium.ttf) format("ttf");
}
/* #endregion Fonts */

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-text)
}

:root{
  --color-text: #000000;
  --color-text-invert: #ffffff;
  --color-background: #f7f7f5;
  --color-background-thumbnail: #ffffff;
  --accent-color1: #e84340;
  --accent-color2: #5340e8;
  --accent-color3: #f2d930;
  --accent-color4: #f9cdc8;

  --thumbnail-width: 100%;
  --thumbnail-height: 200px;
  --thumbnail-heightsm: 150px;

  --border: solid var(--color-text) 1px;
  --border-light: solid #f7f7f5 2px;
  
  --margin-center: 0 auto;

  --line-length: 30em;
  --line-heigth: 1.5;

  --font-main: Tiempos, 'Source serif 4';
  --font-alt: Inter, 'sans-serif';
}

@media (prefers-color-scheme: dark) {
  body {
    --color-text: #cccccc;
    --color-text-invert: #cccccc;
    --color-background: #333333;
    --color-background-thumbnail: #333333;
    --border: solid var(--color-text) 1px;
  }

  .logo {
    filter: invert();
  }
}

main {
  margin-top: 6rem;
  max-width: 1200px;
  margin: var(--margin-center);
}

a{
  text-decoration: none;
  color: var(--color-text);
}

/* #region Header */
header {
  top: 0;
  width: 100%;

  background-color: var(--color-background);
  z-index: 1;
  font-family: var(--font-alt);
  text-transform: uppercase;
  font-size: small;
}

.header1 {
  display: none;
  background-color: black;
  padding-right: 1rem;
  height: 2.5rem;

  nav {
    display: flex;
    gap: 1rem;
  }

  a {
    color: var(--color-text-invert);
  }
}

.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;

  .date-and-tagline {
    display: none;
    vertical-align: middle;

    p {
      margin: 0;
    }

    .date {
      font-weight: bolder;
    }
  }

  .logo {
    width: 150px;
    height: 35px;
  }

  .newsletter-search {
    display: flex;
    gap: 1rem;
  }
}

.header3 {
  background-color: var(--color-background);
  z-index: 1;

  .categories-nav {
      position: fixed;
      background-color: var(--color-background);
      top: calc(3rem + 43.4px);
      left: 0;
      width: 67vw;
      height: calc(100vh - 3rem - 43.4px);
      transition: left 0.3s;

      .categories {
          border-top: var(--border);
          border-bottom: var(--border);
          display: flex;
          flex-direction: column;
          margin: 1rem;
          padding: 2rem;
          gap: 3rem;
          align-items: center;
          height: calc(100vh - 9rem - 43.4px);
      }

    .search-form {
      display: none;
    }
  }

  .categories-nav.closed {
    left: -67vw;
    transition: left 0.3s;
  }
}

button {
  all: unset;
  cursor: pointer;
  
  img {
    max-width: 1.5rem;
  }
}

.menu-button {
  z-index: 1;

  .menu-icon {
    display: none;
  }

  .close-icon {
    display: block;
  }
}

header:has(.categories-nav.closed) .menu-button {
  .menu-icon {
    display: block;
  }

  .close-icon {
    display: none;
  }
}

.hidden {
  display: none;
}

.fixed {
  position: fixed;

  .categories-nav {
    .categories {
      margin-bottom: 0;
    }

    .search-form {
      display: block;
    }
  }
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form input {
  width: 30rem;
  height: 2.5rem;
  margin-bottom: 2rem;
}
/* #endregion Header */

/* #region Media */
@media only screen and (max-width: 768px) {
  .header2 {
    .newsletter {
      display: none;
    }

    .search-text {
      display: none;
    }
  }  
}

@media only screen and (max-width: 1024px) {
  header {
    position: fixed;
  }
  
  .header2 {
    border-bottom: var(--border);
  }
}

@media only screen and (min-width: 1025px) {
  main {
    margin-top: 0;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
      
    .header1 {
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
    }

    .header2 {
      width: calc(100% - 4rem);
      max-width: calc(80rem - 4rem);

      .date-and-tagline {
        display: block;
      }

      .logo {
        width: 16rem;
        height: 4rem;
      }
    }

    .header3 {
      width: 100%;
      max-width: 80rem;
      
      .donate-and-newsletter {
        display: none;
      }
      
      .categories-nav, .categories-nav.closed {
        position: unset;
        height: unset;
        width: calc(100% - 3rem);

        .categories {
          height: unset;
          width: 100%;
          display: flex;
          justify-content: center;
          flex-direction: row;
          padding: 0.5rem;
        }
      }
    }

    .menu-button {
      display: none;
    }
  }
}
  /* #endregion Media */
