/* #region Fonts */
/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/inter-v13-latin-regular.woff2") format("woff2");
}
/* inter-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/inter-v13-latin-500.woff2") format("woff2");
}
/* inter-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/inter-v13-latin-700.woff2") format("woff2");
}

/* TiemposText */
@font-face {
  font-display: swap;
  font-family: "Tiempos";
  font-style: normal;
  font-weight: 400;
  src: url(/assets/TiemposText-Regular.ttf) format("ttf");
}

/* TiemposHeadline */
@font-face {
  font-display: swap;
  font-family: "Tiempos";
  font-style: normal;
  font-weight: 700;
  src: url(/assets/TiemposHeadline-Medium.ttf) format("ttf");
}
/* #endregion Fonts */

:root {
  --background-color: #f7f7f5;
  --article-background-color: #ffffff;
  --img-text-background-color: #00000080;
  --text-color: #000000;
  --alt-text-color: #757575;
  --light-border-color: #9b9b9b94;
  --accent-color1: #D5302D;
  --accent-color2: #5340e8;
  --accent-color3: #f2d930;
  --accent-color4: #f9cdc8;

  --thumbnail-width: 100%;
  --thumbnail-height: 200px;
  --thumbnail-heightsm: 150px;

  --border: solid var(--text-color) 1px;
  --border-light: solid var(--light-border-color) 1px;
  
  --margin-center: 0 auto;

  --line-length: 75ch;
  --line-heigth: 30px;

  --font-main: Tiempos, 'Source serif 4';
  --font-alt: Inter, 'sans-serif';
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  max-width: 1240px;
  margin: var(--margin-center);
  margin-top: 6rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--accent-color1);
  transition: 0.3s;
}

/* #region Header */
header {
  top: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: 1;
  font-family: var(--font-alt);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: small;
}

/* #region Header1 */
.header1 {
  display: none;
  background-color: black;
  border-bottom: var(--border);
  padding-right: 6rem;
  height: 2.5rem;
  display: flex;
  gap: 1.5rem;
}

.header1 a {
  color: white;
}

.header1 a:hover{
  color: var(--alt-text-color);
}

.header1 nav {
  display: flex;
  gap: 1.5rem;
}
/* #endregion Header1 */

/* #region Header2 */
.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2rem;
}

.newsletter-search {
  display: flex;
  gap: 1rem;
}

.newsletter-search svg {
  fill: var(--text-color);
}

.date-and-tagline {
  display: none;
  vertical-align: middle;
  font-family: var(--font-alt);
  text-transform: uppercase;
}

.date-and-tagline p {
  margin: 0;
}

.date {
  font-weight: bolder;
 }

.logo {
  width: 150px;
  height: 35px;
  transition: 0.3s;
}

.logo:hover {
  opacity: 0.5;
}
/* #endregion Header2 */

/* #region Header3 */
.header3 {
  background-color: var(--background-color);
  z-index: 1;

  .search-form {
    display: none;
  }
}

.categories-nav {
  position: fixed;
  background-color: var(--background-color);
  top: calc(3rem + 40px);
  left: 0;
  width: min(67vw, 25rem);
  height: calc(100vh - 3rem - 43.4px);
  transition: left 0.3s;
}

.categories-nav.closed {
  left: -67vw;
  transition: left 0.3s;
}

.categories {
  border: var(--border);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 2rem;
  gap: 3rem;
  align-items: center;
  height: calc(100vh - 9rem - 43.4px);
}

.categories svg{
  fill: var(--text-color);
}

button {
  all: unset;
  cursor: pointer;
}

button img {
  max-width: 1.5rem;
}

.menu-button {
  z-index: 1;
}

.menu-icon {
  display: none;
  stroke: var(--text-color);
}

.close-icon {
  display: block;
  fill: var(--text-color);
}

/* #region Progress bar */
.progress-bar {
  position: absolute;
  left: 0;
  height: 8px;
  background: var(--accent-color1);
  width: 0vw;
}
/* #endregion Progress bar */
/* #endregion Header3 */

header:has(.categories-nav.closed) .menu-button {
  .menu-icon {
    display: block;
  }

  .close-icon {
    display: none;
  }
}

.hidden {
  display: none;
}

.fixed {
  position: fixed;

  .categories-nav {
    animation: slideDown 0.35s ease-out;
    
    .categories {
      margin-bottom: 0;
      margin-top: 0;
    }

    .search-form {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}


@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.search-form input {
  width: 30rem;
  height: 2.5rem;
  margin-bottom: 2rem;
}
/* #endregion Header */

/* #region fadein */
@media (scripting: enabled) {
  .fade-in {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.6s, transform 0.6s;
  }

  .fade-in.visible {
      opacity: 1;
      transform: translateY(0);
  }
}
/* #endregion fadein */

/* #region Media */
@media only screen and (max-width: 768px) {
  .header2 {
    .newsletter {
      display: none;
    }

    .search-text {
      display: none;
    }
  }  
}

@media only screen and (max-width: 1024px) {
  header {
    position: fixed;
  }
  
  .header2 {
    border-bottom: var(--border);
  }
}

@media only screen and (min-width: 1025px) {
  main {
    margin-top: 0;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
      
    .header1 {
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
    }

    .header2 {
      width: calc(100% - 4rem);
      max-width: calc(80rem - 4rem);

      .date-and-tagline {
        display: block;
      }

      .logo {
        width: 16rem;
        height: 4rem;
      }
    }

    .header3 {
      width: 100%;
      max-width: 1240px;
      
      .donate-and-newsletter {
        display: none;
      }
      
      .categories-nav, .categories-nav.closed {
        position: unset;
        height: unset;
        width: 100%;

        .categories {
          height: unset;
          width: 100%;
          display: flex;
          justify-content: center;
          flex-direction: row;
          padding: 0.5rem;
          border-right: none;
          border-left: none;
        }
      }
    }

    .menu-button {
      display: none;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #230606;
    --article-background-color: #000000;
    --img-text-background-color: #f4f0e6b9;
    --text-color: #F4F0E6;
    --alt-text-color: #ff5640;
    --light-border-color: #ffdede;
    --accent-color1: #ECF3B0;
    --accent-color2: #5340e8;
    --accent-color3: #f2d930; /*Mischien als accent color 1 doen*/
    --accent-color4: #f9cdc8;
  }

  .logo {
  filter: invert(1);
  }

  a:hover {
    color: var(--alt-text-color);
  }

  .footer-item a:hover {
    color: var(--alt-text-color);
  }
}

.dark-mode {
  --background-color: #230606;
  --article-background-color: #000000;
  --img-text-background-color: #f4f0e6b9;
  --text-color: #F4F0E6;
  --alt-text-color: #ff5640;
  --light-border-color: #ffdede;
  --accent-color1: #ECF3B0;
  --accent-color2: #5340e8;
  --accent-color3: #f2d930; /*Mischien als accent color 1 doen*/
  --accent-color4: #f9cdc8;
  --border: solid var(--text-color) 1px;

  .logo {
    filter: invert(1);
  }

  a:hover {
    color: var(--alt-text-color);
  }

  .footer-item a:hover {
    color: var(--alt-text-color);
  }
}
/* #endregion Media */

